{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>보스톤집값 회귀분석</strong><small> - LinearRegression and R2_score</small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/boston/boston" method="POST" enctype="multipart/form-data"> 
<!-- action, enctype 제일하단에 파일받는 제이쿼리? 추가 -->
                <table class="table table-borderless">
                    <tr>
                        <td><label for="csv">데이터셋</label></td>
                        <td>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="csv" name="csv">
                                <label class="custom-file-label" for="csv">회귀할 CSV 파일 선택</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="test_size_number">test_size_number(0~0.5)</label></td>
                        <td><input type="text" class="form-control" id="test_size_number" name="test_size_number"></td>                       </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary mr-2">실행</button>
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}